@font-face {
    font-family: 'm';
    src: url(https://aluminium.index.studio/static/font/m-regular.woff2) format('woff2');
    /* src: url(https://aluminium.index.studio/static/font/m-regular.woff2) format('woff2'); */
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'm';
    src: url(https://aluminium.index.studio/static/font/m-semibold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'm';
    src: url(https://aluminium.index.studio/static/font/m-bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'e';
    src: url(../font/e-light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: 'e';
    src: url(../font/e-regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}



@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




:root {
    --font-h1:5vw;

    /* --font-h2:;
    --font-h3:;
    --font-h4:;
    --font-h5:; */
}

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0 0 0 0);
}

h2.title {font-size: 8vw}


/* over_txt */
.over_txt {display:block;overflow: hidden;}

.over_txt span {display:block;transform: translateY(100%);}

/* btn_sc */
.btn_sc {position: absolute;left: 50%;bottom: 100px;transform: translateX(-50%);}

.btn_sc::after {
    content: "";
    display: block;
    background: #fff;
    height: 1px;
    position: absolute;
    bottom: 0;right: 0;left: 0;
}

